@import "tailwindcss";

@font-face {
  font-family: "Bonny Variable";
  src: url("./assets/fonts/Bonny-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Melodrama Variable";
  src: url("./assets/fonts/Melodrama-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display Variable";
  src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bubblegum-pink-100: #FFF3F8;
  --color-bubblegum-pink-200: #FEE5EF;
  --color-bubblegum-pink-300: #FDD0E2;
  --color-bubblegum-pink-400: #FCBBD5;
  --color-bubblegum-pink-500: #F9A6C6;
  --color-bubblegum-pink-600: #F58DB8;
  --color-bubblegum-pink-700: #F278AD;
  --color-bubblegum-pink-800: #DD3E84;
  --color-bubblegum-pink-900: #C90562;
  --color-bubblegum-pink-1000: #5E0F2D;

  --color-blue-50: #DFF2FE;
  --color-blue-100: #88C9F9;
  --color-blue-200: #6BBBF4;
  --color-blue-300: #55ACEE;
  --color-blue-400: #2F90E5;
  --color-blue-500: #006FD9;
  --color-blue-600: #005FC0;
  --color-blue-700: #0055A6;
  --color-blue-800: #00498E;
  --color-blue-900: #003B73;

  --font-bonny: "Bonny Variable", "Bonny", serif;
  --font-melodrama: "Melodrama Variable", "Melodrama", serif;
  --font-playfair: "Playfair Display Variable", "Playfair Display", serif;
}

