@import "tailwindcss";

@theme {
  --color-bubblegum-pink-100: #FFF3F8;
  --color-bubblegum-pink-200: #FEE5EF;
  --color-bubblegum-pink-300: #FDD0E2;
  --color-bubblegum-pink-400: #FCBBD5;
  --color-bubblegum-pink-500: #F9A6C6;
  --color-bubblegum-pink-600: #F58DB8;
  --color-bubblegum-pink-700: #F278AD;
  --color-bubblegum-pink-800: #DD3E84;
  --color-bubblegum-pink-900: #C90562;
  --color-bubblegum-pink-1000: #5E0F2D;
}
